<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>总结vue数据监测</title>
    <script src="../js/vue.js"></script>
    <style>
        button {
            margin-top: 5px;
        }
    </style>
</head>

<body>
    <div id="root">
        <h1>学生信息</h1>

        <button @click="student.age++">年龄+1岁</button> <br>
        <button @click="addSex">添加性别属性，默认值：男</button> <br>
        <button @click="student.sex='女' ">修改生成的性别</button> <br>
        <button @click="addFriend">在列表首位添加一个朋友</button> <br>
        <button @click="updateFirstFriendName">修改第一个朋友的名字为：张三</button> <br>
        <button @click="addHobby">添加一个爱好</button> <br>
        <button @click="updateHobby">修改第一个爱好：开车</button> <br>


        <h2>姓名：{{student.name}}</h2>
        <h2>年龄：{{student.age}}</h2>
        <h2>性别：{{student.sex}}</h2>
        <h3>爱好：</h3>
        <ul>
            <li v-for="(h,index) in student.hobby" :key="index">
                {{h}}
            </li>
        </ul>

        <h2>朋友们：</h2>
        <ul>
            <li v-for="(f, index) in student.friends" :key="index">
                {{f.name}}---{{f.age}}
            </li>
        </ul>
    </div>

    <script>
        Vue.config.productionTip = false; // 阻止vue启动时生成生产提示

        // 创建vue实例
        new Vue({
            el: "#root",
            data: {
                student: {
                    name: 'tom',
                    age: 20,
                    hobby: ['钓鱼', '网球', '音乐'],
                    friends: [
                        { name: '小明', age: 15 },
                        { name: '小红', age: 20 }
                    ]
                }
            },
            methods: {
                addSex() {
                    Vue.set(this.student, 'sex', '男')
                },
                addFriend(){
                    this.student.friends.unshift({name:'小哈',age:33})
                },
                updateFirstFriendName(){
                    this.student.friends[0].name='张三'
                },
                addHobby(){
                    this.student.hobby.push('学习')
                },
                updateHobby(){
                    this.student.hobby.splice(0,1,'开车')
                }
            },
        });
    </script>
</body>

</html>